header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--pico-card-background-color);
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

button img {
  width: 20px;
  flex-shrink: 0;
}
